tosca_definitions_version: cloudify_dsl_1_3

imports:
  - https://cloudify.co/spec/cloudify/6.3.0/types.yaml
  - plugin:cloudify-aws-plugin?version= >=2.12.3
  - plugin:cloudify-utilities-plugin?version= >=1.25.0

inputs:

  aws-access-key-id-secret:
    type: string
    default: aws_access_key_id

  aws-secret-access-key-secret:
    type: string
    default: aws_secret_access_key

  aws_region_name:
    type: string
    default: { get_secret: aws_region_name }

dsl_definitions:

  client_config: &client_config
    aws_access_key_id: { get_secret: { get_input: aws-access-key-id-secret } }
    aws_secret_access_key: { get_secret: { get_input: aws-secret-access-key-secret } }
    region_name: { get_input: aws_region_name }

node_templates:

  amazon_account:
    type: cloudify.nodes.resources.AmazonWebServices
    properties:
      client_config: *client_config

capabilities: {}
