tosca_definitions_version: cloudify_dsl_1_3

imports:
  - https://cloudify.co/spec/cloudify/6.3.0/types.yaml
  - plugin:cloudify-kubernetes-plugin?version= >=2.13.0

blueprint_labels:

  csys-obj-type:
    values:
    - environment

labels:

  csys-obj-type:
    values:
     - environment

inputs:

  deployment:
    type: string
    default: eks

node_templates:

  kubernetes_deployment:
    type: cloudify.kubernetes.resources.SharedCluster
    properties:
      client_config:
        configuration: { get_capability: [ { get_input: deployment }, connection_details ] }
      resource_config:
        deployment:
          id: { get_input: deployment }

  resource:
    type: cloudify.kubernetes.resources.FileDefinedResource
    properties:
      file:
        resource_path: resources/pod.yaml
    relationships:
    - type: cloudify.relationships.kubernetes.connected_to_shared_cluster
      target: kubernetes_deployment
