tosca_definitions_version: cloudify_dsl_1_3

description: >
  This Blueprint configures an existing HAProxy by updating the config
  file: /etc/haproxy/haproxy.cfg and restarting the haproxy service.
  Users need to provide a new config file and make sure it's
  here: resources/haproxy.cfg.

imports:
  - https://cloudify.co/spec/cloudify/5.1.0/types.yaml
  - plugin:cloudify-fabric-plugin

inputs:

  host_string:
    description: The host of the HAProxy.

  user:
    description: User name used when SSH-ing into the started HAProxy machine.
    default: centos

node_templates:

  haproxy:
    type: cloudify.nodes.Root
    interfaces:
      cloudify.interfaces.lifecycle:
        configure:
          implementation: fabric.fabric_plugin.tasks.run_task
          inputs:
            tasks_file: scripts/haproxy.py
            task_name: configure
            fabric_env:
              host_string: { get_input: host_string }
              user: { get_input: user }
              key: { get_secret: agent_key_private }
