tosca_definitions_version: cloudify_dsl_1_3

imports:
  - https://cloudify.co/spec/cloudify/5.1.0/types.yaml
  - plugin:cloudify-kubernetes-plugin?version= >=2.7.0

inputs:

  kubernetes_master_endpoint:
    type: string

  kubernetes_client_config:
    default:
      configuration:
        api_options:
          host: { get_input: kubernetes_master_endpoint }
          api_key: { get_secret: kubernetes_token }
          debug: false
          verify_ssl: false

  app_name:
    description: Prefix to use for application service / deployment names
    default: cloudify-hello-world

  container:
    description: Standard container reference
    type: string
    default: gcr.io/google-samples/node-hello:1.0

  container_port:
    description: Exposed container port to reference
    type: integer
    default: 8080

  validate_status:
    default: true

node_templates:

  hello-world:
    type: cloudify.kubernetes.resources.FileDefinedResource
    properties:
      client_config: { get_input: kubernetes_client_config }
      validate_resource_status: { get_input: validate_status }
      file:
        resource_path: resources.yaml
        template_variables:
          APP_NAME: { get_input: app_name }
          PORT: { get_input: container_port }
          CONTAINER_NAME: { get_input: app_name }
          CONTAINER_IMAGE: { get_input: container }

outputs:

  service:
    description: Service endpoint
    value:
      endpoint: { concat: ["http://", { get_attribute: [hello-world, kubernetes, resources.yaml#1, status, load_balancer, ingress, 0, ip] } ] }
