tosca_definitions_version: cloudify_dsl_1_3

imports:
  - plugin:cloudify-utilities-plugin?version= >=1.22.1

node_templates:

  cloudify-host-cloud-config:
    type: cloudify.nodes.CloudInit.CloudConfig
    properties:
      resource_config:
        groups:
          - docker
          - { get_input: agent_user }
        users:
          - name: { get_input: agent_user }
            primary-group: { get_input: agent_user }
            groups: docker, wheel, root
            shell: /bin/bash
            sudo: ['ALL=(ALL) NOPASSWD:ALL']
            ssh-authorized-keys:
              - { get_attribute: [agent_key, public_key_export] }
        runcmd:
        - "yum install python-netaddr"
    relationships:
      - type: cloudify.relationships.depends_on
        target: agent_key