tosca_definitions_version: cloudify_dsl_1_3

imports:
  - https://cloudify.co/spec/cloudify/5.1.0/types.yaml
  - plugin:cloudify-gcp-plugin?version= >=1.6.0
  - plugin:cloudify-ansible-plugin?version= >=2.10.0
  - plugin:cloudify-utilities-plugin?version= >=1.22.1
  - includes/application.yaml
  - includes/kube-config.yaml

inputs:

  region:
    type: string
    description: The GCP region to deploy the application in, such as europe-west1.
    default: 'europe-west1'

  zone:
    type: string
    description: The GCP zone to deploy the application in, such as europe-west1-b.
    default: 'europe-west1-b'

  network_name:
    type: string
    description: The name of your GCP Virtual Network.
    default: kubevnet

  subnet_name:
    type: string
    description: The name of your GCP Virtual Network.
    default: kubevsubnet

  image:
    type: string
    description: A Centos 7 image.
    default: https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/centos-7-v20170523

  instance_type:
    type: string
    description: A small GCP machine type.
    default: n1-standard-2

  agent_user:
    description: The username of the agent running on the instance created from the image.
    default: centos

  agent_key_name:
    type: string
    default: agent_key

dsl_definitions:

  client_config: &gcp_config
    auth: { get_secret: gcp_credentials }
    zone: { get_input: zone }

node_types:

  k8s-cluster: &k8s-cluster
    derived_from: cloudify.gcp.nodes.Instance
    properties:
      gcp_config:
        default: *gcp_config
      agent_config:
        default:
          install_method: none
          key: { get_attribute: [agent_key, private_key_export] }
          user: { get_input: agent_user }
      use_public_ip:
        default: true
      image_id:
        default: { get_input: image }
      instance_type:
        default: { get_input: instance_type }
      zone:
        default: { get_input: zone }
      external_ip:
        default: true
      startup_script:
        default:
          type: string
          script: |
            yum install python-netaddr
    interfaces:
      cloudify.interfaces.lifecycle:
        create:
          implementation: scripts/gcp/key.py
          executor: central_deployment_agent
          inputs:
            user:
              default: { get_input: agent_user }
            ssh_keys:
              default:
                - { get_attribute: [agent_key, public_key_export] }

  kube-master: *k8s-cluster

  kube-node: *k8s-cluster

node_templates:

  network:
    type: cloudify.gcp.nodes.Network
    properties:
      name: { get_input: network_name }
      gcp_config: *gcp_config
      auto_subnets: false

  subnet:
    type: cloudify.gcp.nodes.SubNetwork
    properties:
      name: { get_input: subnet_name }
      region: { get_input: region }
      subnet: 10.11.12.0/22
      gcp_config: *gcp_config
    relationships:
    - type: cloudify.gcp.relationships.contained_in_network
      target: network

  firewall:
    type: cloudify.gcp.nodes.FirewallRule
    properties:
      gcp_config: *gcp_config
      allowed:
        tcp:
          - 0-65535
        udp:
          - 0-65535
      sources:
        - 0.0.0.0/0
    relationships:
      - type: cloudify.relationships.connected_to
        target: network

  kube-master:
    type: kube-master
    relationships:
      - type: cloudify.relationships.depends_on
        target: subnet
      - type: cloudify.relationships.depends_on
        target: agent_key

  kube-node:
    type: kube-node
    relationships:
      - type: cloudify.relationships.depends_on
        target: subnet
      - type: cloudify.relationships.depends_on
        target: agent_key

  agent_key:
      type: cloudify.keys.nodes.RSAKey
      properties:
        resource_config:
          key_name: { get_input: agent_key_name }
          openssh_format: true
        use_secret_store: true
        use_secrets_if_exist: true
      interfaces:
        cloudify.interfaces.lifecycle:
          create:
            implementation: keys.cloudify_ssh_key.operations.create
            inputs:
              store_private_key_material: true

groups:

  kube-master-group:
    members:
    - kube-master

  kube-node-group:
    members:
    - kube-node

policies:

  kube-master-policy:
    type: cloudify.policies.scaling
    properties:
      default_instances: 1
    targets: [kube-master-group]

  kube-node-policy:
    type: cloudify.policies.scaling
    properties:
      default_instances: 1
    targets: [kube-node-group]
