tosca_definitions_version: cloudify_dsl_1_3

imports:
  - https://cloudify.co/spec/cloudify/5.1.0/types.yaml
  - plugin:cloudify-vcloud-plugin
  - plugin:cloudify-ansible-plugin?version= >=2.10.0
  - plugin:cloudify-utilities-plugin?version= >=1.22.1
  - includes/application.yaml
  - includes/kube-config.yaml

inputs:


  vcloud_user:
    type: string
    default: { get_secret: vcloud_user }

  vcloud_password:
    type: string
    default: { get_secret: vcloud_password }

  vcloud_org:
    type: string
    default: { get_secret: vcloud_org }

  vcloud_uri:
    type: string
    default: { get_secret: vcloud_uri }

  vcloud_vdc:
    type: string
    default: { get_secret: vcloud_vdc }

  vcloud_gateway:
    type: string
    default: { get_secret: vcloud_gateway }

  resource_suffix:
    type: string
    default: '1'

  catalog:
    type: string
    default: defaultcatalogue

  template:
    type: string
    default: Centos7-GenericCloud

  agent_key_name:
    type: string
    default: agent_key

  agent_user:
    type: string
    default: centos

dsl_definitions:

  client_config: &client_config
    uri: { get_input: vcloud_uri }
    org: { get_input: vcloud_org }
    vdc: { get_input: vcloud_vdc }
    user: { get_input: vcloud_user }
    password: { get_input: vcloud_password }
    verify_ssl_certs: false

node_types:

  k8s-cluster: &k8s-cluster
    derived_from: cloudify.nodes.vcloud.VM
    properties:
      client_config:
        default: *client_config
      resource_config:
        default:
          catalog: { get_input: catalog }
          template: { get_input: template }
          ip_allocation_mode: 'dhcp'
          deploy: false
          power_on: false
          accept_all_eulas: true
          hostname: kubevm
      agent_config:
        default:
          install_method: none
          key: { get_attribute: [agent_key, private_key_export] }
          user: { get_input: agent_user }

  kube-master: *k8s-cluster

  kube-node: *k8s-cluster

node_templates:

  kube-master:
    type: kube-master
    relationships:
      - type: cloudify.relationships.vcloud.vm_contained_in_vapp
        target: kube-master-vapp
      - type: cloudify.relationships.vcloud.vm_connected_to_media
        target: kube-master-media
      - type: cloudify.relationships.vcloud.vm_connected_to_nic
        target: kube-master-nic

  kube-master-nic:
    type: cloudify.nodes.vcloud.NIC
    properties:
      client_config: *client_config
      resource_config:
        adapter_type: 'VMXNET3'
        is_primary: true
        is_connected: true
        ip_address_mode: 'DHCP'
    relationships:
      - type: cloudify.relationships.vcloud.nic_connected_to_network
        target: routed_network
      - type: cloudify.relationships.contained_in
        target: kube-master-vapp

  kube-master-vapp:
    type: cloudify.nodes.vcloud.VApp
    properties:
      client_config: *client_config
      resource_config:
        description: test description
        fence_mode: natRouted
        accept_all_eulas: true
    relationships:
      - type: cloudify.relationships.vcloud.vapp_connected_to_network
        target: routed_network

  kube-master-media:
    type: cloudify.nodes.vcloud.Media
    properties:
      client_config: *client_config
      resource_config:
        catalog_name: { get_input: catalog }
      iso:
        vol_ident: config-2
        sys_ident: ''
        files:
          openstack/latest/user_data: { get_attribute: [cloud_init, cloud_config ] }
    relationships:
      - type: cloudify.relationships.depends_on
        target: cloud_init

  kube-node:
    type: kube-node
    relationships:
      - type: cloudify.relationships.vcloud.vm_contained_in_vapp
        target: kube-node-vapp
      - type: cloudify.relationships.vcloud.vm_connected_to_media
        target: kube-node-media
      - type: cloudify.relationships.vcloud.vm_connected_to_nic
        target: kube-node-nic

  kube-node-nic:
    type: cloudify.nodes.vcloud.NIC
    properties:
      client_config: *client_config
      resource_config:
        adapter_type: 'VMXNET3'
        is_primary: true
        is_connected: true
        ip_address_mode: 'DHCP'
    relationships:
      - type: cloudify.relationships.vcloud.nic_connected_to_network
        target: routed_network
      - type: cloudify.relationships.contained_in
        target: kube-node-vapp

  kube-node-vapp:
    type: cloudify.nodes.vcloud.VApp
    properties:
      client_config: *client_config
      resource_config:
        description: test description
        fence_mode: natRouted
        accept_all_eulas: true
    relationships:
      - type: cloudify.relationships.vcloud.vapp_connected_to_network
        target: routed_network

  kube-node-media:
    type: cloudify.nodes.vcloud.Media
    properties:
      client_config: *client_config
      resource_config:
        catalog_name: { get_input: catalog }
      iso:
        vol_ident: config-2
        sys_ident: ''
        files:
          openstack/latest/user_data: { get_attribute: [cloud_init, cloud_config ] }
    relationships:
      - type: cloudify.relationships.depends_on
        target: cloud_init

  routed_network:
    type: cloudify.nodes.vcloud.RoutedVDCNetwork
    properties:
      client_config: *client_config
      resource_config:
        gateway_name: { get_attribute: [ gateway, resource_id ] }
        network_cidr: 192.178.1.1/24
        description: test routed network
        primary_dns_ip: 8.8.8.4
        secondary_dns_ip: 8.8.8.8
        ip_range_start: 192.178.1.2
        ip_range_end: 192.178.1.254
    relationships:
      - type: cloudify.relationships.vcloud.network_connected_to_gateway
        target: gateway

  gateway:
    type: cloudify.nodes.vcloud.Gateway
    properties:
      client_config: *client_config
      resource_id: { get_input: vcloud_gateway }

  cloud_init:
    type: cloudify.nodes.CloudInit.CloudConfig
    properties:
      encode_base64: false
      resource_config:
        users:
        - name: { get_input: agent_user }
          shell: /bin/bash
          sudo: ['ALL=(ALL) NOPASSWD:ALL']
          ssh-authorized-keys:
          - { get_attribute: [agent_key, public_key_export] }
    relationships:
      - type: cloudify.relationships.depends_on
        target: agent_key

  agent_key:
    type: cloudify.keys.nodes.RSAKey
    properties:
      resource_config:
        key_name: { get_input: agent_key_name }
        openssh_format: true
      use_secret_store: true
      use_secrets_if_exist: true
    interfaces:
      cloudify.interfaces.lifecycle:
        create:
          implementation: keys.cloudify_ssh_key.operations.create
          inputs:
            store_public_key_material: true
            store_private_key_material: true


groups:

  kube-master-group:
    members:
    - kube-master
    - kube-master-nic

  kube-node-group:
    members:
    - kube-node
    - kube-node-nic

policies:

  kube-master-policy:
    type: cloudify.policies.scaling
    properties:
      default_instances: 1
    targets: [kube-master-group]

  kube-node-policy:
    type: cloudify.policies.scaling
    properties:
      default_instances: 1
    targets: [kube-node-group]
